.left{
animation: rotateToLeft 3s infinite ease;
}


.right{
animation: rotateToRight 3s infinite ease;    
}

@keyframes rotateToLeft {

    0%,100%{
        rotate: 0deg;
        transform: translate(0,0);
    }

    50%{
        rotate: -35deg;
        transform: translate(-13px, 0px);
    }
    
}

@keyframes rotateToRight {

    0%,100%{
        rotate: 0deg;
        transform: translateX(0,0);
    }

    50%{
        rotate: 35deg;
        transform: translate(7px, -20px);
    }
    
    
}